<template>
    <div class="index">
        <h1>{{msg}}</h1>

    </div>
</template>

<script>
export default {
     name: 'Index',
     props: {
         msg: String
     }   
    
}
</script>

<style lang="stylus">

</style>